@import url('material/light.css');
/* https://material-foundation.github.io/material-theme-builder/ */
:root {
    --color-tertiary: var(--md-sys-color-tertiary);
    --color-on-primary: var(--md-sys-color-on-primary);
    --color-surface-dim: var(--md-sys-color-surface-dim);
    --color-secondary: var(--md-sys-color-secondary);
    --color-surface-variant: var(--md-sys-color-surface-variant);
    --color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant);
    --color-on-surface-variant: var(--md-sys-color-on-surface-variant);
    --color-surface-bright: var(--md-sys-color-surface-bright);
    --color-on-tertiary-container: var(--md-sys-color-on-tertiary-container);
    --color-surface-container-low: var(--md-sys-color-surface-container-low);
    --color-shadow: var(--md-sys-color-shadow);
    --color-outline: var(--md-sys-color-outline);
}
/* Estilos en común */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

#principal-container {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    height: 100vh;
}

header {
    background-color: var(--color-tertiary);
    color: var(--color-on-primary);
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav {
    background-color: var(--color-surface-dim);
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
    padding: 1rem;
}

main {
    background-color: var(--color-on-primary);
    grid-area: main;
    overflow: auto;
}

footer {
    background-color: var(--color-on-tertiary-container);
    color: var(--color-on-primary);
    padding: 20px;
    text-align: center;
    grid-area: footer;
}

img {
    width: 100%;
    border-radius: 8%;
}

h4 {
    font-size: calc(1em + 1vw);
    margin: 5px;
    color: var(--color-secondary);
}

button {
    padding: 0.4em 1.4em;
    margin: 0.4em auto;
    background-color: var(--color-surface-variant);
    border: 0.1em solid var(--color-on-primary-fixed-variant);
}

button:hover {
    background-color: var(--color-on-surface-variant);
    color: var(--color-on-primary);
    cursor: pointer;
}

.filtro-text {
    font-size: 1em;
    margin: 5px;
    color: var(--color-on-surface-variant);
}

.filtro-select {
    background-color: var(--color-surface-bright);
    width: 80%;
    padding: .5em;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 64px;
}

.logo-container p {
    font-size: 1.5em;
    font-weight: 600;
}

.menu-hamburgesa {
    font-size: 2em;
}

.link-container {
    display: none;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em;
    flex-basis: calc(100% - 20vw);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-surface-container-low);
    padding: 20px;
    margin: 10px;
    border-radius: 8%;
    border: 1px solid var(--color-surface-variant);
    box-shadow: 1px 4px 10px -7px var(--color-shadow);
}

.card:hover {
    background-color: var(--color-surface-container);
    box-shadow: 1px 6px 10px -7px var(--color-shadow);
}

.paginador {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.paginador a {
    padding: 0.4em;
    text-decoration: none;
    color: var(--color-secondary);
}

.paginador a:hover {
    background-color: var(--color-outline);
    color: var(--color-on-primary);
}

.paginador #primero {
    border: 1px solid var(--color-surface-variant);
    border-right: none;
    border-radius: 5px 0 0 5px;
}

.paginador #ultimo {
    border: 1px solid var(--color-surface-variant);
    border-radius: 0 5px 5px 0;
}

.paginador .numero {
    border: 1px solid var(--color-surface-variant);
}

/* Tablet */
@media (min-width: 575px) and (max-width: 992px) {
    #principal-container {
        grid-template-columns: 200px 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header header"
            "nav main"
            "footer footer";
    }

    nav {
        justify-content: flex-start;
    }

    h4 {
        font-size: calc(.5em + 1vw);
    }

    .menu-hamburgesa {
        display: none;
    }

    .link-container {
        display: flex;
        gap: 1.5em;
    }

    .link-container a {
        text-decoration: none;
        color: var(--color-on-primary);
    }

    .link-container a:hover {
        text-decoration: underline;
        color: var(--color-on-primary);
    }

    .card-container {
        justify-content: space-around;
    }

    .card {
        flex-basis: calc(30%);
    }
}

/* Desktop */
@media (min-width: 992px) {
    #principal-container {
        grid-template-columns: 200px 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header nav"
            "header main"
            "footer main";
    }

    header {
        flex-direction: column;
        justify-content: flex-start;
    }

    .logo-container {
        font-size: small;
        gap: 1em;
    }

    .logo-container img {
        width: 32px;
    }

    h4 {
        font-size: calc(.5em + 1vw);
    }

    .menu-hamburgesa {
        display: none;
    }

    .card-container {
        justify-content: space-between;
    }

    .link-container {
        margin-top: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
    }

    .link-container a {
        text-decoration: none;
        color: var(--color-on-primary);
    }

    .link-container a:hover {
        text-decoration: underline;
        color: var(--color-on-primary);
    }

    .card {
        flex-basis: calc(23.33% - 5vw);
    }
}